ion-item-sliding {
  margin-bottom: 8px;
  border-radius: 10px;
  overflow: hidden;
}

ion-badge {
  --padding-start: 10px;
  --padding-end: 10px;
  font-weight: bold;
}

.line-through {
  color: #a0a0a0;
}